*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: 'Nunito', sans-serif
}
.cleaner{
    clear: both;
}

/* header */

header{
    width: 100%;
    height: 90px;
    background-color: black;
    border-bottom: 1px solid lightblue;
    border-radius: 5px;
}
#logo{
    width: 10%;
    float: left;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#menu{
    width: 60%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu a:visited, #menu a:link{
    text-decoration: none;
    color: white;
    margin: auto;
}

#menu a:hover{
    color: cadetblue;
    cursor: pointer;
}

#cart{
    float: right;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#cart i{
    cursor: pointer;
}

#cart i:hover{
    color: lightblue;
}

#cartInside{
    width: 100%;
}

#cartTable{
    width: 100%;
    border-collapse: collapse;
}
  
td {
    border-bottom: 1px solid black;
    padding: 5%;
  }

/*About*/

#about{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 450px;
}
/* left */

#left{
    height: 1700px;
    width: 25%;
    float: left;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid lightblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



/* main */


#desno{
    float: right;
    width: 70%;
    min-height: 800px;
}

.autori{
    width: 30%;
    height: 300px;
}

.autori img{
    padding: 2px;
    border-radius: 5px;
    border: 1px solid lightblue;
}

.middle{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 150px;
}

/* products */


#products{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#forSort{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#displayProducts{
    width: 100%;
    min-height: 1700px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#displayProducts article{
    text-align: center;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0,0.1); 
  }


  .knjigaPosebno {
    background-color: lightblue;
    margin: 13% auto; 
    padding: 20px;
    border: 1px solid blue;
    width: 40%; 
    height: auto;
    border-radius: 5px;
    color: black;
    font-size: large;
  }

  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover, .close:focus {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}
 .flexBook{
     display: flex;
     justify-content: space-between;

 }

 .smaller{
     width: 50%;
 }

 .details{
     max-width: 30%;
     padding: 2%;
     border-radius: 5px;
     border: 1px solid lightblue;
 }
 .details:hover{
     background-color: lightblue;
 }

 .korpa{
    background-color: lightblue;
    margin: 13% auto; 
    padding: 20px;
    border: 1px solid blue;
    width: 60%; 
    min-height: 500px;
    border-radius: 5px;
    color: black;
    font-size: large;
 }

 #okvir{
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0,0.1); 
 }

 #cartButton, .cart{
    border-radius: 5px;
    padding: 2%;
    cursor: pointer;

 }

 #cartButton:hover, .cart{
    background-color: lightblue;
 }
/*footer*/

footer{
    width: 100%;
}

/* sort/filter*/

#zanr, #sort{
    width: 50%;
    height: 25px;
    color: lightblue;
    border: 1px solid lightblue;
    background-color: black;
    border-radius: 5px;
}

#sorting, #filter{
    width: 49%;
    height: 100%;
    color: lightblue;
}


/*form*/
#form {
	width: 49%;
    margin-top: 6vw;
}

.title{
	text-align: center;
	width: 90%;
    margin-bottom: 5%;
}

.formHolder{
	width:80%;
 	margin: 1%;
 	text-align: center;
    color: lightblue;
   }

.txtforme{
 width:100%;
 margin-bottom:5px;
 border:1px solid lightblue;
 border-radius:5px;
 padding:5px;
 text-align: center;
}

.accept{
	width:40%;
	font-size:20px;
	color:#000;
	background-color:lightblue; 
	padding:0px 5%;
 	border:none;
	 margin-right: 10px;
	 border-radius: 5px;
	cursor: pointer;
 }

 .border{
	border:1px solid #ff0000;
   
    }


/*author*/

#author{
    display: flex;
    min-height: 250px;
    width: 35%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
    margin-left: 15px;
}

#authorText{
    margin-top: 25px;
    margin-left: 15px;
}

#formAuto{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 100%;
    min-height: 400px;
}

/*footer*/

footer{
    height: 50px;
    width: 100%;
    background-color: lightblue;
    margin-top: 100px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}